.header{
    display: flex;
    justify-content:space-around;
    align-items:center;
    position: fixed;
    background-color: rgb(229, 219, 219);
    width: 100%;
    padding: 1rem;
    z-index: 1000;
}
.logo{
    color: teal;
    align-items: center;
    font-weight: 600;
    justify-content: center;
}

.list-menu{
    display: flex;
    list-style-type: none;
}
.list-menu a{
    padding: 20px;
    
}

.btn{
   padding: 5px;
   border-radius: 2rem;
   border: none;
   outline: none;
   background-color:teal;
   
}
.btn a{
    color: white;
    font-weight: 500;
}
.btn:hover{
    background-color:rgb(136, 164, 109);
}
.icon{
    font-size: 2rem;
    cursor: pointer;
}
.close-icon{
    display: none;
}
.toggle .icon{
    font-size: 25px;
    color:teal;
    display: none;
 }

@media screen and (max-width:768px){
.menu-bar{
    position: absolute;
    background-color: antiquewhite;
    height: max-content;
    width: 80%;
    border-radius: 1rem;
    top:-500rem;
    left:50%;
    transform: translate(-50%);
    z-index: 2000;
    transition: 5s ease-in-out;
    

}
.activeMenubar{
    top:7rem;
}

.list-menu{
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: .5rem 0;
}
.list{
    padding:.5rem 0; 
}
.list a{
    color:blue;
    padding: 6rem;
    font-weight: 600;
}
.list a:hover{
    color: rgb(35, 34, 34);
}
.btn{
    padding: 1rem 1rem;
    margin: auto;
    
}
 .btn a{
    font-weight: 600;
 }
 .close-icon{
    position: absolute;
    top:1rem;
    right: 1.5rem;
    color:teal;
    display: block;
 }
 .toggle .icon{
    font-size: 25px;
    color:teal;
    display: block;
    
 }

}
