
  a{
    text-decoration: none;
  }
li{
  list-style: none;
}
.grid{
  display: grid;
  text-align: center;
}

.section{
  text-align: center;
}
body{
  background-color: rgb(235, 223, 223);
}

@media screen and (min-width:1240px) {
  .container{
    width:80% !important;
    margin: auto !important;
  }
  .section{
    padding: 6rem 0 4rem;
  }
  }


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
